body {
  background-color: #1c1c1c;
}

button {
  cursor: pointer;
  box-shadow: 5px 5px 5px rgb(136, 22, 22);
}

#header {
  height: 40px;
  width: 200px;
  background-color: rgb(136, 22, 22);
  justify-self: center;
  border-radius: 20px;
  border: groove rgb(136, 22, 22);
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  color: white;
  text-shadow: #586e75, 2px;

}

#dynamiskBenji {
  width: 300px;
  height: 300px;
  background-color: #586e75;
  justify-self: center;
  border: inset #c03838;
  border-radius: 10px;
  margin: 20px;
}

#progressbar1 {
  width: 300px;
  height: 35px;
  background-color: #2aa198;
  text-align: center;
  line-height: 32px;
  color: black;
}

#progressbar2 {
  width: 300px;
  height: 35px;
  background-color: #b58900;
  text-align: center;
  line-height: 32px;
  color: black;
}

#progressbar3 {
  width: 300px;
  height: 35px;
  background-color: #dc322f;
  text-align: center;
  line-height: 32px;
  color: black;
}

#btn1 {
  grid-row: 1;
  grid-column: 2;
  height: 40px;
  border-radius: 20px;
  margin-top: 2px;
  background-color: #2aa198;
  background-image: url(assets/popcornNonHover.png);
  background-repeat: no-repeat;
  background-position-x: center;
}

#btn2 {
  grid-row: 2;
  grid-column: 2;
  height: 40px;
  border-radius: 20px;
  margin-top: 2px;
  background-color: #b58900;
  background-image: url(assets/guitarNonHover.png);
  background-repeat: no-repeat;
  background-position-x: center;
}

#btn3 {
  grid-row: 3;
  grid-column: 2;
  height: 40px;
  border-radius: 20px;
  margin-top: 2px;
  background-color: #dc322f;
  background-image: url(assets/sleepNonHover.png);
  background-repeat: no-repeat;
  background-position-x: center;
}

#app{
  width: 600px;
  height: 800px;
  border-radius: 400px;
  border: solid black 5px;
  display: grid;
  grid-template-rows: 150px 1fr 1fr;
  justify-content: center;
  text-align: center;
  background: radial-gradient(circle at center,#ff4949, #830c0c);
}

#tracker{
  display: grid;
  grid-template-columns: 320px 75px;
  grid-template-rows: 50px 50px 50px;
  margin-top: 20px;
  height: 150px;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: outset 2px #c03838;
  border-radius: 30px;
}

.progBar{
  border-radius: 100px;
}

#prg1{
  grid-row: 1;
  grid-column: 1;
  width: 300px;
  border-radius: 100px;
  border: solid black 2px;
  height: 35px;
  margin: 3px;
  background-color: #1c726b;
}

#prg2{
  grid-row: 2;
  grid-column: 1;
  width: 300px;
  border-radius: 100px;
  border: solid black 2px;
  height: 35px;
  margin: 3px;
  background-color: #836201;
}

#prg3{
  grid-row: 3;
  grid-column: 1;
  width: 300px;
  border-radius: 100px;
  border: solid black 2px;
  height: 35px;
  margin: 3px;
  background-color:#830c0c;
}

#btn1:hover {
  background-color: #1c726b;
  background-image: url("assets/popcornHover.png");
  background-repeat: no-repeat;
}

#btn2:hover {
  background-color: #836201;
  background-image: url("assets/guitarHover.png");
  background-repeat: no-repeat;
}

#btn3:hover {
  background-color: #a32422;
  background-image: url("assets/sleepHover.png");
  background-repeat: no-repeat;
}